<!-- Swiper -->

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <app-item-movie></app-item-movie>
      </div>
      <div class="swiper-slide">
        <app-item-movie></app-item-movie>
      </div>
      <div class="swiper-slide">
        <app-item-movie></app-item-movie>
      </div>
      <div class="swiper-slide">
        <app-item-movie></app-item-movie>
      </div>
      <div class="swiper-slide">
        <app-item-movie></app-item-movie>
      </div>
      <div class="swiper-slide">
        <app-item-movie></app-item-movie>
      </div>
      <div class="swiper-slide">
        <app-item-movie></app-item-movie>
      </div>
      <div class="swiper-slide">
        <app-item-movie></app-item-movie>
      </div>
      
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
     <!-- Add Arrows -->
     <div class="swiper-button-next"></div>
     <div class="swiper-button-prev"></div>
  </div>
